*,
*:after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#notesWrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    columns: 6 238px;
    width: 80%;
    height: fit-content;
    margin: 0 auto;
}

.colDiv {
    display: inline-block;
    justify-self: center;
    width: 100%;
    height: fit-content;
    background-color: blueviolet;
}

.note {
    display: inline-block;
    position: relative;
    width: 100%;
    min-width: 238px;
    margin: 0 0.8rem 0.8rem 0;
    border-radius: 4px;
    background-color: rgba(255, 248, 220, 0.3);
    transition: display 500ms ease-in-out;
}

.note > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 700;
}

#note1 {
    height: 200px;
}

#note2 {
    height: 256px;
}

#note3 {
    height: 319px;
}

#note4 {
    height: 274px;
}

#note5 {
    height: 290px;
}

#note6 {
    height: 338px;
}

#note7 {
    height: 405px;
}

#note8 {
    height: 353px;
}

#note9 {
    height: 223px;
}

#note10 {
    height: 245px;
}

#note11 {
    height: 270px;
}

#note12 {
    height: 297px;
}

#note13 {
    height: 312px;
}

#note14 {
    height: 329px;
}

#note15 {
    height: 278px;
}

#note16 {
    height: 212px;
}

#note17 {
    height: 288px;
}

#note18 {
    height: 341px;
}

#note19 {
    height: 369px;
}

#note20 {
    height: 225px;
}

#note21 {
    height: 416px;
}

#note22 {
    height: 239px;
}

#note23 {
    height: 269px;
}

#note24 {
    height: 307px;
}

#note25 {
    height: 245px;
}

#note26 {
    height: 289px;
}

#note27 {
    height: 235px;
}

#note28 {
    height: 297px;
}

#note29 {
    height: 221px;
}

#note30 {
    height: 248px;
}

#note31 {
    height: 372px;
}

#note32 {
    height: 301px;
}

#note33 {
    height: 224px;
}

#note34 {
    height: 207px;
}

#note35 {
    height: 282px;
}

#note36 {
    height: 260px;
}

#note37 {
    height: 213px;
}

#note38 {
    height: 250px;
}

#note39 {
    height: 202px;
}

#note40 {
    height: 274px;
}
