*,
*:after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#notesWrapper {
    display: block;
    columns: 6 238px;
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    background-color: blueviolet;
}

.note {
    display: inline-block;
    position: relative;
    width: 100%;
    min-width: 238px;
    margin: 0 0.8rem 0.8rem 0;
    border-radius: 4px;
    background-color: rgba(255, 248, 220, 0.3);
}

.note > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 700;
}
.note:nth-child(1) {
    height: 200px;
}
.note:nth-child(2) {
    height: 256px;
}
.note:nth-child(3) {
    height: 319px;
}
.note:nth-child(4) {
    height: 274px;
}
.note:nth-child(5) {
    height: 290px;
}
.note:nth-child(6) {
    height: 338px;
}
.note:nth-child(7) {
    height: 405px;
}
.note:nth-child(8) {
    height: 353px;
}
.note:nth-child(9) {
    height: 223px;
}
.note:nth-child(10) {
    height: 245px;
}
.note:nth-child(11) {
    height: 270px;
}
.note:nth-child(12) {
    height: 297px;
}
.note:nth-child(13) {
    height: 312px;
}
.note:nth-child(14) {
    height: 329px;
}
.note:nth-child(15) {
    height: 278px;
}
.note:nth-child(16) {
    height: 212px;
}
.note:nth-child(17) {
    height: 288px;
}
.note:nth-child(18) {
    height: 341px;
}
.note:nth-child(19) {
    height: 369px;
}
.note:nth-child(20) {
    height: 225px;
}
.note:nth-child(21) {
    height: 416px;
}
.note:nth-child(22) {
    height: 239px;
}
.note:nth-child(23) {
    height: 269px;
}
.note:nth-child(24) {
    height: 307px;
}
.note:nth-child(25) {
    height: 245px;
}
.note:nth-child(26) {
    height: 289px;
}
.note:nth-child(27) {
    height: 235px;
}
.note:nth-child(28) {
    height: 297px;
}
.note:nth-child(29) {
    height: 221px;
}
.note:nth-child(30) {
    height: 248px;
}
.note:nth-child(31) {
    height: 372px;
}
.note:nth-child(32) {
    height: 301px;
}
.note:nth-child(33) {
    height: 224px;
}
.note:nth-child(34) {
    height: 207px;
}
.note:nth-child(35) {
    height: 282px;
}
.note:nth-child(36) {
    height: 260px;
}
.note:nth-child(37) {
    height: 213px;
}
.note:nth-child(38) {
    height: 250px;
}
.note:nth-child(39) {
    height: 202px;
}
.note:nth-child(40) {
    height: 274px;
}
